<div class="row justify-content-center" >
  <div class="col-12 col-md-9 col-lg-9 border bg-white p-3 my-3 rounded">

  <h1>Create a new restaurant</h1>

    <%= render 'form', restaurant: @restaurant %>
    <p><%= link_to 'Back to restaurant list', restaurants_path %></p>

  </div>
</div>


